@font-face {
	font-family: 'Mona Sans';
	src: url('/fonts/Mona-Sans.otf');
}

* {
	margin: 0;
}

body {
	/*background: url('https://i.imgur.com/Fi6Hqof.png');*/
	font-family: 'Montserrat', sans-serif;
	border: 10px solid;
	border-image: linear-gradient(to right, #511A22 0%, #e90d2a 10%, #e90d2a 50%, #108fff 50%, #108fff 80%, #1B3B57 100%) 5;
	height: 98vh;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

.scoreboard {
	display: flex;
	justify-content: center;
	background: #090916;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 24px;
	color: #ffffff;
}

.team-content,
.score-content,
.event-content {
	display: flex;
	align-items: center;
}

.team-content {
	font-family: 'Mona Sans';
	width: 300px;
	max-width: 300px;
}

.red-bg {
	background: transparent;
	padding-right: 20px;
	justify-content: left;
	position: relative;
}

.red-bg p, .red-bg img {
	z-index: 1;
}

.red-bg::before,
.red-bg::after {
	content: "";
	position: absolute;
	top: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(90deg, #4d131b, #e90d2a);
	z-index: 0;
}

.red-bg::after {
	right: 0;
	clip-path: polygon(100% 0, 0 0, 0% 100%, 70% 100%);
	background: #e90d2a;
}

.blue-bg {
	background: transparent;
	padding-left: 20px;
	margin-left: -80px;
	justify-content: right;
	position: relative;
}

.blue-bg::before,
.blue-bg::after {
	content: "";
	position: absolute;
	top: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(90deg, #108fff, #1B3B57);
	z-index: 0;
}

.blue-bg::before {
	left: 0;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
	background: #108fff;
}

.team-content p {
	margin-right: 10px;
}

.score-content {
	background-color: transparent;
	width: 34px;
	font-size: 48px;
	padding: 0px 25px;
}

/* Unused */
.scores-extra {
	display: flex;
	justify-content: space-between;
	width: 200px;
	background: red;
}

.timer {
	padding: 0px 50px;
  	width: 80px;
	font-size: 32px;
	margin-top: 12.5px;
	text-align: center;
}

.team-input {
	display: flex;
	justify-content: space-between;
	width: 400px;
	margin-bottom: 20px;
}

.team-input input[type="text"] {
	width: 180px;
	padding: 5px;
	font-size: 18px;
}

.score-input {
	display: flex;
	justify-content: space-between;
	width: 200px;
}

.score-input input[type="number"] {
	width: 80px;
	padding: 5px;
	font-size: 18px;
}

.button-container {
	display: flex;
	justify-content: center;
}

.button,
.button-small {
	color: #ffffff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.button {
	background-color: #9147ff;
	padding: 10px 20px;
	font-size: 16px;
	margin: 0 10px;
}

.button:hover {
	background-color: #691fb3;
}

.button-small {
	background-color: #DC3545;
	padding: 5px;
	font-size: 12px;
	margin: 0 10px;
}

.button-small:hover {
	background-color: #a0222c;
}

.team1-roster,
.team2-roster {
	position: absolute;
	top: 0;
	width: 240px;
}

.team1-roster {
	left: 0;
}

.team2-roster {
	right: 0;
	text-align: right;
}

.team1-roster h2,
.team2-roster h2 {
	font-size: 16px;
	margin-bottom: 5px;
}

.team1-roster ul,
.team2-roster ul {
	list-style-type: none;
	padding: 0;
}

.team1-roster li,
.team2-roster li {
	font-size: 14px;
	margin-bottom: 5px;
}

.player-item {
	list-style-type: none;
	display: flex;
	align-items: center;
}

.player-item img {
	width: 48px;
	height: 48px;
	padding: 10px;
}

.left {
	padding-right: 15px !important;
}

.right {
	padding-left: 15px !important;
}

.info {
	display: flex;
	flex-direction: column;
	color: white;
	width: 100%;
}

.username {
	margin: 0;
	padding: 5px 0px;
	font-size: 16px;
	font-weight: bold;
}

.stats {
	margin: 0;
	font-size: 14px;
}

.border-gradient {
	border: 10px solid;
	border-image-slice: 1;
	border-width: 5px;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}

.border-gradient-red {
	border-image-source: linear-gradient(90deg, #4d131b, #e90d2a);
}

.border-gradient-blue {
	border-image-source: linear-gradient(90deg, #108fff, #108fff40);
}

.red {
	background: #090916;
}

.blue {
	background: #090916;
}

.game-wins {
	display: flex;
}

.win,
.unplayed {
	width: 10px;
	height: 10px;
	margin: 0 2px;
}

.win {
	background-color: lime;
}

.unplayed {
	background-color: #00000050;
}

#team2-wins {
	margin-right: 10px;
}

.underlay {
	position: relative;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: white;
	padding: 10px 40px;
}

.underlay::before,
.underlay::after {
	content: "";
	position: absolute;
	top: 0;
	width: 50%;
	height: 100%;
	background: #090916;
	z-index: -1;
}

.underlay::before {
	left: 0;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
}

.underlay::after {
	right: 0;
	clip-path: polygon(100% 0, 0 0, 0% 100%, 70% 100%);
}

.top-right {
	text-align: center;
	width: 240px;
	max-width: 240px;
	background: #090916;
	position: absolute;
	right: 0;
	color: white;
}

.top-right img {
	padding: 10px 0px;
}

.kill-feed {
	width: 250px;
	max-width: 250px;
	position: absolute;
	top: 20px;
	right: 0;
	color: white;
}

.kill-feed-item {
	background: linear-gradient(90deg, #e90d2a, #108fff);
	text-align: center;
	padding: 10px 5px;
	/*margin-bottom: 5px;*/
	font-size: 18px;
	font-family: 'Mona Sans' !important;
	font-weight: normal !important;
}

.kill-feed p {
	color: #fff;
	background: #090916;
}

.kill-feed-item .killer {
	font-weight: bold;
}

.kill-feed-item .icon {
	margin: 0 5px;
}